%h1.fs-2.mb-4 予約一覧

.row.justify-content-center
  .col-8
    %table.table
      %thead
        %tr
          %th レッスン名
          %th レッスン開始予定時刻
          %th レッスン終了予定時刻
          %th 参加人数
          %th 合計金額
      %tbody
        - @bookings.each do |booking|
          %tr
            %td= link_to booking.lesson.name, users_lesson_booking_path(booking.lesson, booking)
            %td= l(booking.lesson_at)
            %td= booking.participant_count
            %td= number_to_currency(booking.total_fee)


