.navbar.bg-body-tertiary
  .container-fluid
    .navbar-brand= link_to 'SakuraFootball[管理者]', administrators_root_path, class: 'text-decoration-none text-dark'
    - if administrator_signed_in?
      .ms-auto
        = button_to 'ログアウト', destroy_administrator_session_path, method: :delete, data: { turbo_confirm: 'ログアウトしますか？' }, class: 'btn btn-outline-danger'
